@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    
}

header li, a, button, .title_name {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    /* background-color: #66117d; */
    background-color: #2A0A66;
    /* background-color: #24252A; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
}

.title_name {
    color: #edf0f1;
    /* text-transform: uppercase; */
    font-size: 20px;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.2s ease 0s;
}

.nav_links li a:hover {
    /* color: #0088a9; */
    color: #8C5CE5;

    
}

button {
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    /* background-color: #5F17E5; */
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.2s ease 0s;
}

button:hover{
    background-color: rgba(0,136,169,.8);
}



.intro {
    display:flex;
    justify-content: space-between;
    padding: 20px 10px;
    column-gap: 20px;
}

.intro img {
    width: 15em;
    height: 15em;
    border-radius: 5%;
}
.main a {
    color:#66117d;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.project_tile {
    padding: 30px;
}

/* *{
    font-family: 'Open Sans', sans-serif;
} */


/* h1 {
    font-weight: bold;
}
body {
    background-color: white);
}
nav {
    background-color: #66117d;
    color: white;
}

nav a{
    background-color: #66117d;
    color: white;
}




/* Graphic Design color theme from adobe
/* Color Theme Swatches in Hex */
.Graphic-Design-1-hex { color: #A993BF; }
.Graphic-Design-2-hex { color: #3E8C76; }
.Graphic-Design-3-hex { color: #F2B950; }
.Graphic-Design-4-hex { color: #F2CFBB; }
.Graphic-Design-5-hex { color: #F25749; }

/* Color Theme Swatches in RGBA */
.Graphic-Design-1-rgba { color: rgba(169, 147, 191, 1); }
.Graphic-Design-2-rgba { color: rgba(61, 140, 117, 1); }
.Graphic-Design-3-rgba { color: rgba(242, 185, 79, 1); }
.Graphic-Design-4-rgba { color: rgba(242, 206, 186, 1); }
.Graphic-Design-5-rgba { color: rgba(242, 86, 72, 1); }

/* Color Theme Swatches in HSLA */
.Graphic-Design-1-hsla { color: hsla(270, 25, 66, 1); }
.Graphic-Design-2-hsla { color: hsla(163, 38, 39, 1); }
.Graphic-Design-3-hsla { color: hsla(39, 86, 63, 1); }
.Graphic-Design-4-hsla { color: hsla(22, 68, 84, 1); }
.Graphic-Design-5-hsla { color: hsla(5, 86, 61, 1); }  */